---
import Icon from "astro-icon";

// import Button from "./Button";

import BlogItem from "./BlogItem.astro";
import { getPosts } from "../../sanity/api";
import HomeArticleItem from "./HomeArticleItem.astro";
import HomeNoteItem from "./HomeNoteItem.astro";
interface Props {
  category?: string;
  limit?: string;
  pagination?: number;
  isSummary?: boolean;
  sortBy?: string;
  type?: string;
}

interface Post {
  userId: number;
  id: number;
  title: string;
  body: string;
}
const { category, limit, pagination, isSummary, sortBy, type } = Astro.props;

// const typess = type == "articles" ? "post" : type == "notes" ? "note" : "";

const data = await getPosts(type);
---

<!-- <div class="flex flex-row gap-4 flex-wrap justify-center md:justify-start">
  {
    !type && (
      <>
        <Button
          client:only="react"
          type="filter"
          content="Article"
          isActive={false}
        />
        <Button
          client:only="react"
          type="filter"
          content="Notes"
          isActive={false}
        />
      </>
    )
  }

  <Button
    client:only="react"
    type="sort"
    content="Most Popular"
    isActive={false}
  />
  <Button client:only="react" type="sort" content="Latest" isActive={true} />
</div> -->{
  type && (
    <>
      <div class="breakout">
        <h1>
          Showing {sortBy + " "} {type == "post" ? "article" : type}s:
        </h1>
      </div>
    </>
  )
}

<div class="grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8 mt-8">
  {
    data.map((post, index) =>
      type === "post" ? (
        <HomeArticleItem
          title={post.title}
          body={post.summary}
          date={post._createdAt}
          imgURL={post.image}
          readingTime={post.readtime}
          type={post._type}
          index={index}
          slug={post.slug}
        />
      ) : (
        <HomeNoteItem
          title={post.title}
          body={post.summary}
          date={post._createdAt}
          imgURL={post.image}
          readtime={post.readtime}
          type={post._type}
          index={index}
          slug={post.slug}
        />
      )
    )
  }
</div>
