---
import { getImageObj } from "../../sanity/urlForImage";
import FormattedDate from "../FormattedDate.astro";
interface Props {
  date: string;
  type: string;
  title: string;
  body: string;
  slug?: string;
  readtime: string;
  imgURL: URL;
  index: number;
}

const { date, type, title, body, slug, readtime, imgURL, index } = Astro.props;
---

<a
  class="grid-item"
  href={type == "post" ? "/articles/" + slug : "/notes/" + slug}
>
  <div
    class="blog-item flex flex-col flex-grow relative"
    style={"--i:" + index}
  >
    {
      imgURL && (
        <div class="w-full  mb-4 fill overflow-hidden">
          <img
            class="min-w-fit p-0"
            src={getImageObj(imgURL).width(400).height(250).fit("clip").url()}
            alt={title}
            width="100%"
          />
        </div>
      )
    }

    <h3 class="leading-6 p-0">
      {title.toLocaleUpperCase()}
    </h3>
    <p class="line-clamp-4 not-italic content">{body}</p>

    <div class="mt-4 flex flex-row justify-between items-center">
      <span class="text-xs">
        <FormattedDate date={date} display={true} />
      </span>
      <span class="text-xs">{readtime ? readtime : 2} mins read</span>
    </div>
  </div>
</a>
<style>
  a {
    opacity: 1;
  }
  a.grid-item {
    display: block;
    position: relative;
    transition: transform 400ms ease;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  a.grid-item::after {
    content: "";
    position: absolute;
    left: 0%;
    bottom: -5px;
    width: 100%;
    height: 0px;
    background-color: var(--accent-color);
  }
  .grid-item:hover {
    transform: scale(1.015);
  }
  .grid-item:hover::after {
    height: 2px;
  }

  .read-more-icon {
    transition: transform 400ms ease-in-out;
  }
  .blog-item:hover .read-more-icon,
  .read-more-icon:hover .content {
    opacity: 1;
  }
  svg,
  path {
    color: var(--text-color);
    /* OR */
    fill: var(--text-color);
  }

  @media (max-width: 768px) {
    .blog-item {
      opacity: 1;
    }
  }
  p {
    font-size: var(--fs-300);
  }
  .content {
    opacity: 0.8;
  }
</style>
