---
import HomeArticleItem from "./HomeArticleItem.astro";
import { urlForImage } from "../../sanity/urlForImage";

interface Category {
  title: string;
  slug: string;
}

interface Post {
  summary: string;
  cats: Category[];
  title: string;
  image: URL;
  created_at: string;
  readtime: number;
}

interface props {
  title: string;
  slug: string;
  posts: Post[];
}

const { title, slug, posts } = Astro.props;
---

<div class="breakout mt-8 lg:mt-16">
  <div class="flex flex-row justify-start flex-grow items-center gap-8">
    <h2 class="w-fit min-w-fit p-0 italic">
      Latest {title} Articles
    </h2>
    <div class="h-[1px] bg-[var(--accent-color)] w-full"></div>
    <span class="w-fit min-w-fit p-0">
      <a href={"/category" + slug.current}> View All</a>
    </span>
  </div>
  <div class="grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8 mt-8">
    {
      posts.map((post, index) => (
        <HomeArticleItem
          title={post.title}
          body={post.summary}
          date={post.publishedAt.toString()}
          imgURL={post.mainImage.asset._ref}
          readingTime={post.readtime}
          type={"post"}
          index={index}
          slug={post.slug.current}
        />
      ))
    }
  </div>
</div>
